

.markdown {
  
  
  .post-inline-title{    b, strong{
    color: #fff !important;
}
    }

    

    p{
         color: rgba(255, 255, 255, 0.3) !important; 

         b, strong{
            color: #fff !important;
        }
     }
 }